@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Archivo-Regular";
  src: url("/fonts/Archivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo-Medium";
  src: url("/fonts/Archivo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Archivo-Bold";
  src: url("/fonts/Archivo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral-Italic";
  src: url("/fonts/Spectral-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral-Regular";
  src: url("/fonts/Spectral-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral-Medium";
  src: url("/fonts/Spectral-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral-Bold";
  src: url("/fonts/Spectral-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral-MediumItalic";
  src: url("/fonts/Spectral-MediumItalic.ttf") format("truetype");
}

.react-flow__panel.react-flow__attribution {
  display: none !important;
}

.react-flow__node {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.rpv-default-layout__sidebar-tabs {
  display: none !important;
}

.rpv-toolbar__right {
  display: none !important;
}

.rpv-toolbar__left > .rpv-toolbar__item:first-child {
  display: none !important;
}

.plus-lighter {
  mix-blend-mode: plus-lighter;
}
div[aria-hidden="true"].text-sm.font-medium {
  display: none !important;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
